<ul class="collection with-header">
  <li class="collection-header"><h5>User Information</h5></li>
  <li class="collection-item">Email: {{userData.password.email}}</li>
  <li class="collection-item">Session expires: {{userData.expires * 1000| date}}</li>
  <li class="collection-header"><h5>Add Data</h5></li>
  <li class="collection-item clearfix">
<!--    <div class="item-info" ng-repeat="info in account">
    </div>-->
    <div class="input-field large-3 medium-4 small-12 columns">
      <label for="first_name">Username</label>
      <input id="username" type="text" ng-model="account.username">
    </div>
    <div class="clearfix"></div>
    <button class="waves-effect waves-light btn blue darken-1" ng-click="addUserData(account);
                addItem = false;">Set</button>
  </li>
  <li class="collection-item"><h5>Friends</h5></li>
  <li class="collection-item">
    <div class="input-field">
      <label for="first_name">Enter friend`s name</label>
      <input id="friend_username" type="text" ng-model="find.username">
    </div>
  </li>
</ul>