<!--<pre>{{userData|json}}</pre>-->

<!--<pre>{{friendRequests | json}}</pre>-->
<!--<pre>{{friendsList|json}}</pre>-->
<div class="row">
  <div class="col s12 m6" ng-repeat="request in friendRequests | filter:friendId:userData.uid">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Friend request from <strong>{{request.friendName}}</strong></span>
        <p> If you know him/her accept the invitation or you can remove it.</p>
      </div>
      <div class="card-action">
        <a href="#/account" ng-click="acceptFriend(request.$id)">Accept</a>
        <a href='#/account' ng-click="removeFriend(request.$id)">Reject</a>
      </div>
    </div>
  </div>
</div>
<ul class="collection with-header">
  <li class="collection-header"><h5>User Information</h5></li>
  <li class="collection-item">Email: {{userData.password.email}}</li>
  <li class="collection-item">Session expires: {{userData.expires * 1000| date}}</li>
  <li class="collection-header"><h5>Add Data</h5></li>
  <li class="collection-item clearfix">
    <!--    <div class="item-info" ng-repeat="info in account">
        </div>-->
    <div class="input-field large-3 medium-4 small-12 columns">
      <label for="first_name">Username</label>
      <input id="username" type="text" ng-model="account.username">
    </div>
    <div class="clearfix"></div>
    <button class="waves-effect waves-light btn blue darken-1" ng-click="addUserData(account); addItem = false;">Set
    </button>
  </li>
  <li class="collection-item"><h5>Search for fiends</h5></li>
  <li class="collection-item">
    <div class="input-field">
      <label for="first_name">Enter friend`s name</label>
      <input id="friend_username" type="text" ng-model="find.username" ng-keyup="searchFriend()">
    </div>
    <div ng-repeat="friend in find.foundFriends | filter: find.username">
      <blockquote>
        {{friend.username}}
        <button class="waves-effect waves-light btn-floating darken-1" ng-click="addFriend(friend)"
                ng-disabled="!find.username">
          +
        </button>
      </blockquote>
    </div>

    <div class="row">
      <div ng-repeat=" item in friendsList" class="avatar col s3">
        <span href="#!" class="secondary-content blue-text" ng-click="removeFriend(item.$id)" title="Remove"><i
                class="mdi-content-clear"></i></span>
        <img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;f=y">
        <span class="title">{{item.friendName}}</span>

        <p ng-show="item.approved == true"><a href="">Start a chat</a></p>

        <p ng-show="item.approved == false ;" class="red white-text"><i class="mdi-alert-warning"></i> Waiting for
          approval</p>
      </div>
    </div>

  </li>
</ul>